extends layout

block content
  .container              
    h1 Customer Data
    p.lead Spot some trends.
    a(href="/") Go home
    br
    br
    if (user)
      span You are currently logged in as #{user.username}
      br
      a(href="/logout") Logout
    br
    br
    h4 Total Sales: 
      span.total= total
    allTokens= allTokens

