extends layout

block content
  .container              
    br
    a(href="/") Back home
    br
    br
    h4 Use this data for testing: 
    ul
      li Card Number - 4242424242424242
      li CVC Code - any three digits
      li Expiration - any date in the future
    h2 One time payment
    form#payment-form(role='form', action='/stripe', method='POST', style='max-width: 300px;')
      #charge-error.alert.alert-danger.payment-errors
      .form-row
        label Credit Card Info
        input.card-number.form-control(type='text', autocomplete='off', data-stripe='number', placeholder='Card Number')
      .form-row
        input.card-cvc.form-control(type='text', autocomplete='off', data-stripe='cvc', placeholder='CVC Code')
      .form-row
        label Expiration Date
        br
        input.card-expiry-month.form-control(type='text', data-stripe='exp-month', placeholder='MM')
        input.card-expiry-year.form-control(type='text', data-stripe='exp-year', placeholder='YYYY')
      br
      button.btn.btn-default.submit-button.btn-block(type='submit') Submit Payment

