extends layout

block content
  .container              
    br
    a(href="/") Back home
    br
    br
    h4 Use this data for testing: 
    ul
      li Card Number - 4242424242424242
      li CCV - any three digits
      li Expiration - any date in the future
    h2 One time payment
    form#payment-form(role='form', action='/stripe', method='POST', style='max-width: 300px;')
      #charge-error.alert.alert-danger.payment-errors
      .form-row
        label Card Number
        input.card-number.form-control(type='text', size='20', autocomplete='off', data-stripe='number')
      .form-row
        label CVC
        input.card-cvc.form-control(type='text', size='4', autocomplete='off', data-stripe='cvc')
      .form-row
        label Expiration
        br
        .col-lg-4
          input.card-expiry-month.form-control(type='text', data-stripe='exp-month')
        .col-lg-8
          input.card-expiry-year.form-control(type='text', data-stripe='exp-year')
      br
      button.btn.btn-default.submit-button(type='submit') Submit Payment


  .container
    .row
      .col-xs-4.col-md-4
        .panel.panel-default
          .panel-heading
            h3.panel-title
              | Payment Details
            .checkbox.pull-right
              label
                input(type='checkbox')
                | Remember
          .panel-body
            form(role='form')
              .form-group
                label(for='cardNumber')
                  | CARD NUMBER
                .input-group
                  input#cardNumber.form-control(type='text', placeholder='Valid Card Number', required='required', autofocus='autofocus')
                  span.input-group-addon
                    span.glyphicon.glyphicon-lock
              .row
                .col-xs-7.col-md-7
                  .form-group
                    label(for='expityMonth')
                      | EXPIRY DATE
                    .col-lg-6.pl-ziro
                      input#expityMonth.form-control(type='text', placeholder='MM', required='required')
                    .col-lg-6.pl-ziro
                      input#expityYear.form-control(type='text', placeholder='YY', required='required')
                .col-xs-5.col-md-5.pull-right
                  .form-group
                    label(for='cvCode')
                      | CV CODE
                    input#cvCode.form-control(type='password', placeholder='CV', required='required')
        ul.nav.nav-pills.nav-stacked
          li.active
            a(href='#')
              span.badge.pull-right
                span.glyphicon.glyphicon-usd
                | $10.00
              | Final Payment
        br
        a.btn.btn-success.btn-lg.btn-block(href='http://www.jquery2dotnet.com', role='button') Pay
