extends layout

block content
  .container 
    br
    a(href="/") Back home             
    h1 Congrats!
    p.lead You just purchased a shirt for $
      span.charge= charge
      !
    br
    img(src='/img/shirt.png')


