extends layout

block content
  .container              
    h1 Node + Stripe + Express
    p.lead Now go make some money.
    a(href="/") Go home
    br
    a(href="/ping") Ping
    br
    br
    a(href="/charge") Process a charge
    br
    a(href="/login") View the Admin page

