extends layout

block content
  .container              
    h1 Node + Stripe + Express
    p.lead Now go make some money.
    a(href="/") Go home
    br
    a(href="/ping") Ping
    br
    br
    a(href="/charge") Process a charge
    br
    a(href="/admin") View the Admin page
    br
    br
    if (user)
      span You are currently logged in as #{user.username}
      br
      a(href="/logout") Logout

