{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Customer Data</h1>
  <p class="lead">Spot some trends.</p>
  <a href="/">Go home</a>
  <br><br>
  {% if user %}
    <span>You are currently logged in as <strong>{{user.username}}</strong></span>
    <br>
    <a href="logout">Logout</a>
  {% endif %}
  <br><br>

  <div>
    <h4>API:</h4>
    <ul>
      <li>GET All Users - api/v1/users</li>
      <li>GET Single user - api/v1/user/:id</li>
      <li>GET All Products - api/v1/products</li>
      <li>GET Single Product - api/v1/product/:id</li>
    </ul>
  </div>

  <br>

  <div>
    <h4>Total Sales: <span class="total">{{data.length}}</span></h4><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Token</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      {% for product in data %}
        <tr>
          <td>{{loop.index}}</td>
          <td>
            <a href="https://manage.stripe.com/test/search?query={{product.token}}" target="_blank">
              {{product.token}}
            </a>
          </td>
          <td>{{moment(product.time).format("MM-DD-YYYY HH:mm")}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
