{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Product List</h1>
  <p class="lead">Which would you like to purchase?</p>
  <a href="/">Go home</a>
  <br><br>
  <table class="table table-hover" style="max-width:400px;">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td><a href="/product/{{product._id.toString()}}">{{ product.name }}</a></td>
          <td>${{ product.amount }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}