<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
      <title>Node + Stripe + Express - {{ title }}</title>
    {% else %}
      <title>Node + Stripe + Express</title>
    {% endif %}
    <!-- stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/4.1.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {% block css %}{% endblock %}
  </head>
  <body>
    {% include "./partials/nav.html" %}
    <div class="container">
      {% include "./partials/flash.html" %}
      <!-- Page Content -->
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
