{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Customer Data</h1>
  <p class="lead">Spot some trends.</p>
  <a href="/">Go home</a>
  <br><br>
  {% if user %}
    <span>You are currently logged in as <strong>{{user.username}}</strong></span>
    <br>
    <a href="logout">Logout</a>
  {% endif %}
  <hr>

  <div class="row">

    <div class="col-xs-4">
      <h3>API:</h3>
      <br>
      <ul>
        <li>GET All Users - api/v1/users</li>
        <li>GET Single user - api/v1/user/:id</li>
        <li>GET All Products - api/v1/products</li>
        <li>POST All Products - api/v1/products</li>
        <li>GET Single Product - api/v1/product/:id</li>
      </ul>
      <br>
      <h3>Add Product:</h3>
      <form id="add-product-form">
        <div class="form-group">
          <label for="product-name">Product Name</label>
          <input type="text" class="form-control" id="product-name" placeholder="Enter a product" required>
        </div>
        <div class="form-group">
          <label for="product-price">Product Price</label>
          <input input type="number" step="0.01" class="form-control" id="product-price" placeholder="Enter a price" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <p id="product-response"></p>

    </div>

    <div class="col-xs-6 col-xs-offset-1">
      <h3>Total Sales: <span class="total"><em>{{data.length}}</em></span></h3>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Token</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {% for product in data %}
          <tr>
            <td>{{loop.index}}</td>
            <td>
              <a href="https://manage.stripe.com/test/search?query={{product.token}}" target="_blank">
                {{product.token}}
              </a>
            </td>
            <td>{{moment(product.time).format("MM-DD-YYYY HH:mm")}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</div>

{% endblock %}
