{% extends '_base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-4">
      <h1>Login</h1>
      <p class="lead">Enter your credentials.</p>
      <form role="form" method="post" action="/auth/login">
        <div class="form-group">
          <input type="text" id="email" class="form-control" name="email" placeholder="Email" autofocus required>
        </div>
        <div class="form-group">
          <input type="password" id="pass" class="form-control" name="password" placeholder="Password" required>
        </div>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
      <br><br>
      <p>Don't have an account? <a href="/auth/register">Register</a>.</p>
    </div>
  </div>

{% endblock %}