{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

  <h1>Product List</h1>
  <hr><br><br>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td><a href="/products/{{ product.id }}">{{ product.name }}</a></td>
              <td>${{ product.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
