{% extends '_base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
  <h1>Register</h1>
  <hr><br><br>
  <div class="row">
    <div class="col-md-4">
      <form role="form" action="/auth/register" method="post">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
      </form>
      <br>
      <p>Already registered? Go <a href="/auth/login">Log in</a>!</p>
    </div>
  </div>

{% endblock %}
